[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/testcertent
[access "refs/for/refs/*"]
	read = group user/testcertent
	push = group user/testcertent
	label-Code-Review = -2..+2 group user/testcertent
	label-Verified = -1..+1 group user/testcertent
	rebase = group user/testcertent
	removeReviewer = group user/testcertent
	submit = group user/testcertent
[access "refs/heads/*"]
	read = group user/testcertent
	create = group user/testcertent
	push = +force group user/testcertent
	pushMerge = group user/testcertent
[access "refs/tags/*"]
	push = +force group user/testcertent
	pushTag = group user/testcertent
	pushSignedTag = group user/testcertent
